In [50]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf

%matplotlib inline

from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [51]:
df = pd.read_csv('Kickstartercombo.csv')
df.head()

,Unnamed: 0,ID,name,main_category,category,country,state,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real
0,0,1000002330,The Songs of Adelaide & Abullah,Publishing,Poetry,GB,failed,1000.0,0.0,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.0,NaN,NaN
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.0,220.0,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.0,NaN,NaN
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.0,1.0,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.0,NaN,NaN
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.0,1283.0,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.0,NaN,NaN
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,NaN,NaN

In [52]:
df.columns

Index(['Unnamed: 0', 'ID', 'name', 'main_category', 'category', 'country',
       'state', 'goal', 'pledged', 'currency', 'launched', 'deadline',
       'backers', 'usd pledged', 'usd_goal_real', 'usd_pledged_real'],
      dtype='object')

In [53]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,ID,name,main_category,category,country,state,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real
0,1000002330,The Songs of Adelaide & Abullah,Publishing,Poetry,GB,failed,1000.0,0.0,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.0,NaN,NaN
1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.0,220.0,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.0,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.0,1.0,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.0,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.0,1283.0,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.0,NaN,NaN
4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,NaN,NaN

In [54]:
df.shape

(702411, 15)

In [55]:
df.drop("name", axis=1, inplace=True)

In [56]:
df.dtypes

ID                    int64
main_category        object
category             object
country              object
state                object
goal                float64
pledged             float64
currency             object
launched             object
deadline             object
backers               int64
usd pledged         float64
usd_goal_real       float64
usd_pledged_real    float64
dtype: object

In [57]:
fordf = df.loc[df['currency'] != 'USD'] 
fordf.shape

(146229, 14)

In [58]:
print(df.isnull().sum())
fordf.isnull().sum()

ID                       0
main_category            0
category                 0
country                  0
state                    0
goal                     0
pledged                  0
currency                 0
launched                 0
deadline                 0
backers                  0
usd pledged           7594
usd_goal_real       323750
usd_pledged_real    323750
dtype: int64

ID                      0
main_category           0
category                0
country                 0
state                   0
goal                    0
pledged                 0
currency                0
launched                0
deadline                0
backers                 0
usd pledged          2118
usd_goal_real       62933
usd_pledged_real    62933
dtype: int64

In [59]:
fordf["usd_goal_real"].fillna(fordf["goal"], inplace=True)
fordf["usd_pledged_real"].fillna(fordf["pledged"], inplace=True)
print(fordf.isnull().sum())

print(df.isnull().sum())
df["usd_goal_real"].fillna(df["goal"], inplace=True)
df["usd_pledged_real"].fillna(df["pledged"], inplace=True)
print(df.isnull().sum())

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

ID                     0
main_category          0
category               0
country                0
state                  0
goal                   0
pledged                0
currency               0
launched               0
deadline               0
backers                0
usd pledged         2118
usd_goal_real          0
usd_pledged_real       0
dtype: int64
ID                       0
main_category            0
category                 0
country                  0
state                    0
goal                     0
pledged                  0
currency                 0
launched                 0
deadline                 0
backers                  0
usd pledged           7594
usd_goal_real       323750
usd_pledged_real    323750
dtype: int64
ID                     0
main_category          0
category               0
country                0
state                  0
goal                   0
pledged                0
currency               0
launched               0
deadline               0
backers                0
usd pledged         7594
usd_goal_real          0
usd_pledged_real       0
dtype: int64

In [60]:
fordf = fordf.drop(['goal','pledged','usd pledged'], axis=1)
fordf.shape

(146229, 11)

In [61]:
df = df.drop(['goal','pledged','usd pledged'], axis=1)
df.shape

(702411, 11)

In [62]:
df.rename(columns={'usd_goal_real': 'goal','usd_pledged_real':'pledged'}, inplace =True)
df.columns

Index(['ID', 'main_category', 'category', 'country', 'state', 'currency',
       'launched', 'deadline', 'backers', 'goal', 'pledged'],
      dtype='object')

In [63]:
fordf.rename(columns={'usd_goal_real': 'goal','usd_pledged_real':'pledged'}, inplace =True)

In [64]:
print(fordf.columns)
df.columns

Index(['ID', 'main_category', 'category', 'country', 'state', 'currency',
       'launched', 'deadline', 'backers', 'goal', 'pledged'],
      dtype='object')

Index(['ID', 'main_category', 'category', 'country', 'state', 'currency',
       'launched', 'deadline', 'backers', 'goal', 'pledged'],
      dtype='object')

In [65]:
df.loc[df['currency'] != 'USD', 'goal'] = fordf['goal'] 
df.loc[df['currency'] != 'USD', 'pledged'] = fordf['pledged'] 
df.shape

(702411, 11)

In [66]:
df = df.drop('currency', axis=1)

In [67]:
df = df.drop('ID', axis=1)
df

,main_category,category,country,state,launched,deadline,backers,goal,pledged
0,Publishing,Poetry,GB,failed,2015-08-11 12:12:00,2015-10-09 11:36:00,0,1000.00,0.00
1,Film & Video,Narrative Film,US,failed,2013-01-12 00:20:00,2013-02-26 00:20:00,3,45000.00,220.00
2,Music,Music,US,failed,2012-03-17 03:24:00,2012-04-16 04:24:00,1,5000.00,1.00
3,Film & Video,Film & Video,US,canceled,2015-07-04 08:35:00,2015-08-29 01:00:00,14,19500.00,1283.00
4,Food,Restaurants,US,successful,2016-02-26 13:38:00,2016-04-01 13:38:00,224,50000.00,52375.00
5,Food,Food,US,successful,2014-12-01 18:30:00,2014-12-21 18:30:00,16,1000.00,1205.00
6,Food,Drinks,US,failed,2016-02-01 20:05:00,2016-03-17 19:05:00,40,25000.00,453.00
7,Design,Product Design,US,canceled,2014-04-24 18:14:00,2014-05-29 18:14:00,58,125000.00,8233.00
8,Film & Video,Documentary,US,canceled,2014-07-11 21:55:00,2014-08-10 21:55:00,43,65000.00,6240.57
9,Publishing,Nonfiction,CA,failed,2013-09-09 18:19:00,2013-10-09 18:19:00,0,2500.00,0.00
10,Music,Indie Rock,US,successful,2013-03-09 06:42:00,2013-04-08 06:42:00,100,12500.00,12700.00
11,Crafts,Crafts,US,failed,2014-09-02 17:11:00,2014-10-02 17:11:00,0,5000.00,0.00
12,Games,Games,US,failed,2016-02-09 23:01:00,2016-03-25 22:01:00,0,200000.00,0.00
13,Design,Design,US,failed,2015-01-29 02:10:00,2015-02-28 02:10:00,11,2500.00,664.00
14,Comics,Comic Books,US,failed,2014-10-09 22:27:00,2014-11-08 22:27:00,16,1500.00,395.00
15,Publishing,Art Books,US,failed,2015-04-10 21:20:00,2015-05-10 21:20:00,20,3000.00,789.00
16,Music,Music,US,successful,2012-08-02 14:11:00,2012-08-17 14:11:00,7,250.00,250.00
17,Food,Food,US,failed,2012-05-03 17:24:00,2012-06-02 17:24:00,40,5000.00,1781.00
18,Fashion,Fashion,US,successful,2013-11-25 07:06:00,2013-12-30 07:06:00,624,20000.00,34268.00
19,Theater,Theater,US,failed,2014-05-16 10:10:00,2014-06-15 10:09:00,12,3500.00,650.00
20,Food,Drinks,NO,failed,2015-01-26 19:17:00,2015-02-25 19:17:00,3,500.00,48.00
21,Comics,Comics,US,successful,2014-10-23 17:15:00,2014-11-12 17:15:00,66,175.00,701.66
22,Music,Music,US,successful,2010-12-07 23:16:00,2011-01-06 23:16:00,147,10000.00,15827.00
23,Crafts,DIY,GB,failed,2015-12-06 20:09:00,2016-01-05 20:09:00,0,12000.00,0.00
24,Film & Video,Webseries,CA,successful,2014-11-14 18:02:00,2014-12-14 18:02:00,571,17757.00,48905.00
25,Comics,Comics,GB,successful,2015-12-29 16:59:00,2016-01-28 16:59:00,27,100.00,112.38
26,Food,Food Trucks,GB,failed,2015-03-01 18:06:00,2015-03-31 18:06:00,1,3500.00,21.00
27,Design,Product Design,US,successful,2016-09-07 13:14:00,2016-10-08 02:00:00,549,1000.00,47266.00
28,Design,Product Design,AU,successful,2015-07-23 03:09:00,2015-08-22 03:09:00,18,2000.00,2000.00
29,Art,Public Art,US,failed,2013-02-12 01:07:00,2013-03-24 00:07:00,30,25000.00,1395.00
...,...,...,...,...,...,...,...,...,...
702381,Games,Playing Cards,US,successful,2014-09-03 19:53:50,2014-10-03,413,10000.00,13861.50
702382,Film & Video,Comedy,US,failed,2014-05-06 23:50:34,2014-06-05,0,12000.00,0.00
702383,Fashion,Apparel,US,failed,2014-11-13 17:16:17,2014-12-13,97,25000.00,11643.00
702384,Photography,Photography,US,failed,2010-11-08 02:43:59,2011-01-08,37,4000.00,3531.00
702385,Publishing,Nonfiction,US,failed,2015-08-25 22:37:14,2015-09-24,5,800.00,70.00
702386,Music,Country & Folk,CA,successful,2014-11-17 17:50:12,2014-12-17,78,4311.83,4686.96
702387,Film & Video,Shorts,US,successful,2017-08-29 06:57:28,2017-10-13,123,10000.00,10245.00
702388,Publishing,Nonfiction,US,failed,2014-07-15 02:10:39,2014-08-15,5,5000.00,18.00
702389,Food,Drinks,US,successful,2015-11-03 13:04:14,2015-12-03,103,5000.00,5579.00
702390,Publishing,Fiction,US,canceled,2014-08-08 21:49:31,2014-09-11,2,1000.00,100.00
702391,Design,Product Design,CH,failed,2015-07-06 18:00:47,2015-09-04,0,82207.27,0.00
702392,Games,Tabletop Games,FR,successful,2017-10-04 11:26:44,2017-10-31,35,1165.70,1452.47
702393,Technology,3D Printing,US,canceled,2014-05-05 20:22:45,2014-05-26,0,6500.00,0.00
702394,Design,Product Design,US,successful,2015-11-23 07:33:14,2015-12-15,120,3500.00,6169.00
702395,Comics,Comics,GB,failed,2013-09-10 22:45:26,2013-10-10,38,25566.05,4374.99
702396,Publishing,Children's Books,US,successful,2013-10-18 21:35:04,2013-11-30,31,950.00,1732.02
702397,Publishing,Nonfiction,US,failed,2012-08-15 17:11:00,2012-09-14,16,4999.00,980.00
702398,Games,Tabletop Games,US,canceled,2016-01-24 16:03:27,2016-02-23,5,500.00,121.00
702399,Film & Video,Narrative Film,US,failed,2017-02-08 02:28:44,2017-04-09,6,500.00,135.00
702400,Technology,Apps,US,failed,2016-07-29 15:36:29,2016-09-05,0,6000.00,0.00
702401,Music,Classical Music,CA,successful,2014-02-20 01:00:16,2014-03-22,78,4529.81,4983.69
702402,Film & Video,Documentary,NO,successful,2015-03-29 21:30:33,2015-04-28,36,2675.19,2875.83
702403,Film & Video,Documentary,US,failed,2012-02-15 04:31:10,2012-03-16,1,1700.00,25.00
702404,Food,Small Batch,US,failed,2017-03-20 22:08:22,2017-04-19,4,6500.00,154.00
702405,Publishing,Poetry,CA,canceled,2014-08-06 03:46:07,2014-09-20,0,4949.60,0.00
702406,Film & Video,Documentary,US,canceled,2014-09-17 02:35:30,2014-10-17,1,50000.00,25.00
702407,Film & Video,Narrative Film,US,failed,2011-06-22 03:35:14,2011-07-19,5,1500.00,155.00
702408,Film & Video,Narrative Film,US,failed,2010-07-01 19:40:30,2010-08-16,1,15000.00,20.00
702409,Technology,Technology,US,failed,2016-01-13 18:13:53,2016-02-13,6,15000.00,200.00
702410,Art,Performance Art,US,failed,2011-07-19 09:07:47,2011-08-16,17,2000.00,524.00

In [68]:
df.isnull().sum()

main_category    0
category         0
country          0
state            0
launched         0
deadline         0
backers          0
goal             0
pledged          0
dtype: int64

In [69]:
df.loc[(df['state'] != 'successful') & (df['state'] != 'live'), 'state']  = 0
df.head()

,main_category,category,country,state,launched,deadline,backers,goal,pledged
0,Publishing,Poetry,GB,0,2015-08-11 12:12:00,2015-10-09 11:36:00,0,1000.0,0.0
1,Film & Video,Narrative Film,US,0,2013-01-12 00:20:00,2013-02-26 00:20:00,3,45000.0,220.0
2,Music,Music,US,0,2012-03-17 03:24:00,2012-04-16 04:24:00,1,5000.0,1.0
3,Film & Video,Film & Video,US,0,2015-07-04 08:35:00,2015-08-29 01:00:00,14,19500.0,1283.0
4,Food,Restaurants,US,successful,2016-02-26 13:38:00,2016-04-01 13:38:00,224,50000.0,52375.0

In [70]:
df.loc[df['state'] != 0, 'state'] = 1
df.head()

,main_category,category,country,state,launched,deadline,backers,goal,pledged
0,Publishing,Poetry,GB,0,2015-08-11 12:12:00,2015-10-09 11:36:00,0,1000.0,0.0
1,Film & Video,Narrative Film,US,0,2013-01-12 00:20:00,2013-02-26 00:20:00,3,45000.0,220.0
2,Music,Music,US,0,2012-03-17 03:24:00,2012-04-16 04:24:00,1,5000.0,1.0
3,Film & Video,Film & Video,US,0,2015-07-04 08:35:00,2015-08-29 01:00:00,14,19500.0,1283.0
4,Food,Restaurants,US,1,2016-02-26 13:38:00,2016-04-01 13:38:00,224,50000.0,52375.0

In [71]:
df.dtypes

main_category     object
category          object
country           object
state              int64
launched          object
deadline          object
backers            int64
goal             float64
pledged          float64
dtype: object

In [72]:
df['launched']=pd.to_datetime(df['launched'])
df['deadline']=pd.to_datetime(df['deadline'])
df.dtypes

main_category            object
category                 object
country                  object
state                     int64
launched         datetime64[ns]
deadline         datetime64[ns]
backers                   int64
goal                    float64
pledged                 float64
dtype: object

In [73]:
df['year'], df['month'] = df['launched'].dt.year, df['launched'].dt.month
df

,main_category,category,country,state,launched,deadline,backers,goal,pledged,year,month
0,Publishing,Poetry,GB,0,2015-08-11 12:12:00,2015-10-09 11:36:00,0,1000.00,0.00,2015,8
1,Film & Video,Narrative Film,US,0,2013-01-12 00:20:00,2013-02-26 00:20:00,3,45000.00,220.00,2013,1
2,Music,Music,US,0,2012-03-17 03:24:00,2012-04-16 04:24:00,1,5000.00,1.00,2012,3
3,Film & Video,Film & Video,US,0,2015-07-04 08:35:00,2015-08-29 01:00:00,14,19500.00,1283.00,2015,7
4,Food,Restaurants,US,1,2016-02-26 13:38:00,2016-04-01 13:38:00,224,50000.00,52375.00,2016,2
5,Food,Food,US,1,2014-12-01 18:30:00,2014-12-21 18:30:00,16,1000.00,1205.00,2014,12
6,Food,Drinks,US,0,2016-02-01 20:05:00,2016-03-17 19:05:00,40,25000.00,453.00,2016,2
7,Design,Product Design,US,0,2014-04-24 18:14:00,2014-05-29 18:14:00,58,125000.00,8233.00,2014,4
8,Film & Video,Documentary,US,0,2014-07-11 21:55:00,2014-08-10 21:55:00,43,65000.00,6240.57,2014,7
9,Publishing,Nonfiction,CA,0,2013-09-09 18:19:00,2013-10-09 18:19:00,0,2500.00,0.00,2013,9
10,Music,Indie Rock,US,1,2013-03-09 06:42:00,2013-04-08 06:42:00,100,12500.00,12700.00,2013,3
11,Crafts,Crafts,US,0,2014-09-02 17:11:00,2014-10-02 17:11:00,0,5000.00,0.00,2014,9
12,Games,Games,US,0,2016-02-09 23:01:00,2016-03-25 22:01:00,0,200000.00,0.00,2016,2
13,Design,Design,US,0,2015-01-29 02:10:00,2015-02-28 02:10:00,11,2500.00,664.00,2015,1
14,Comics,Comic Books,US,0,2014-10-09 22:27:00,2014-11-08 22:27:00,16,1500.00,395.00,2014,10
15,Publishing,Art Books,US,0,2015-04-10 21:20:00,2015-05-10 21:20:00,20,3000.00,789.00,2015,4
16,Music,Music,US,1,2012-08-02 14:11:00,2012-08-17 14:11:00,7,250.00,250.00,2012,8
17,Food,Food,US,0,2012-05-03 17:24:00,2012-06-02 17:24:00,40,5000.00,1781.00,2012,5
18,Fashion,Fashion,US,1,2013-11-25 07:06:00,2013-12-30 07:06:00,624,20000.00,34268.00,2013,11
19,Theater,Theater,US,0,2014-05-16 10:10:00,2014-06-15 10:09:00,12,3500.00,650.00,2014,5
20,Food,Drinks,NO,0,2015-01-26 19:17:00,2015-02-25 19:17:00,3,500.00,48.00,2015,1
21,Comics,Comics,US,1,2014-10-23 17:15:00,2014-11-12 17:15:00,66,175.00,701.66,2014,10
22,Music,Music,US,1,2010-12-07 23:16:00,2011-01-06 23:16:00,147,10000.00,15827.00,2010,12
23,Crafts,DIY,GB,0,2015-12-06 20:09:00,2016-01-05 20:09:00,0,12000.00,0.00,2015,12
24,Film & Video,Webseries,CA,1,2014-11-14 18:02:00,2014-12-14 18:02:00,571,17757.00,48905.00,2014,11
25,Comics,Comics,GB,1,2015-12-29 16:59:00,2016-01-28 16:59:00,27,100.00,112.38,2015,12
26,Food,Food Trucks,GB,0,2015-03-01 18:06:00,2015-03-31 18:06:00,1,3500.00,21.00,2015,3
27,Design,Product Design,US,1,2016-09-07 13:14:00,2016-10-08 02:00:00,549,1000.00,47266.00,2016,9
28,Design,Product Design,AU,1,2015-07-23 03:09:00,2015-08-22 03:09:00,18,2000.00,2000.00,2015,7
29,Art,Public Art,US,0,2013-02-12 01:07:00,2013-03-24 00:07:00,30,25000.00,1395.00,2013,2
...,...,...,...,...,...,...,...,...,...,...,...
702381,Games,Playing Cards,US,1,2014-09-03 19:53:50,2014-10-03 00:00:00,413,10000.00,13861.50,2014,9
702382,Film & Video,Comedy,US,0,2014-05-06 23:50:34,2014-06-05 00:00:00,0,12000.00,0.00,2014,5
702383,Fashion,Apparel,US,0,2014-11-13 17:16:17,2014-12-13 00:00:00,97,25000.00,11643.00,2014,11
702384,Photography,Photography,US,0,2010-11-08 02:43:59,2011-01-08 00:00:00,37,4000.00,3531.00,2010,11
702385,Publishing,Nonfiction,US,0,2015-08-25 22:37:14,2015-09-24 00:00:00,5,800.00,70.00,2015,8
702386,Music,Country & Folk,CA,1,2014-11-17 17:50:12,2014-12-17 00:00:00,78,4311.83,4686.96,2014,11
702387,Film & Video,Shorts,US,1,2017-08-29 06:57:28,2017-10-13 00:00:00,123,10000.00,10245.00,2017,8
702388,Publishing,Nonfiction,US,0,2014-07-15 02:10:39,2014-08-15 00:00:00,5,5000.00,18.00,2014,7
702389,Food,Drinks,US,1,2015-11-03 13:04:14,2015-12-03 00:00:00,103,5000.00,5579.00,2015,11
702390,Publishing,Fiction,US,0,2014-08-08 21:49:31,2014-09-11 00:00:00,2,1000.00,100.00,2014,8
702391,Design,Product Design,CH,0,2015-07-06 18:00:47,2015-09-04 00:00:00,0,82207.27,0.00,2015,7
702392,Games,Tabletop Games,FR,1,2017-10-04 11:26:44,2017-10-31 00:00:00,35,1165.70,1452.47,2017,10
702393,Technology,3D Printing,US,0,2014-05-05 20:22:45,2014-05-26 00:00:00,0,6500.00,0.00,2014,5
702394,Design,Product Design,US,1,2015-11-23 07:33:14,2015-12-15 00:00:00,120,3500.00,6169.00,2015,11
702395,Comics,Comics,GB,0,2013-09-10 22:45:26,2013-10-10 00:00:00,38,25566.05,4374.99,2013,9
702396,Publishing,Children's Books,US,1,2013-10-18 21:35:04,2013-11-30 00:00:00,31,950.00,1732.02,2013,10
702397,Publishing,Nonfiction,US,0,2012-08-15 17:11:00,2012-09-14 00:00:00,16,4999.00,980.00,2012,8
702398,Games,Tabletop Games,US,0,2016-01-24 16:03:27,2016-02-23 00:00:00,5,500.00,121.00,2016,1
702399,Film & Video,Narrative Film,US,0,2017-02-08 02:28:44,2017-04-09 00:00:00,6,500.00,135.00,2017,2
702400,Technology,Apps,US,0,2016-07-29 15:36:29,2016-09-05 00:00:00,0,6000.00,0.00,2016,7
702401,Music,Classical Music,CA,1,2014-02-20 01:00:16,2014-03-22 00:00:00,78,4529.81,4983.69,2014,2
702402,Film & Video,Documentary,NO,1,2015-03-29 21:30:33,2015-04-28 00:00:00,36,2675.19,2875.83,2015,3
702403,Film & Video,Documentary,US,0,2012-02-15 04:31:10,2012-03-16 00:00:00,1,1700.00,25.00,2012,2
702404,Food,Small Batch,US,0,2017-03-20 22:08:22,2017-04-19 00:00:00,4,6500.00,154.00,2017,3
702405,Publishing,Poetry,CA,0,2014-08-06 03:46:07,2014-09-20 00:00:00,0,4949.60,0.00,2014,8
702406,Film & Video,Documentary,US,0,2014-09-17 02:35:30,2014-10-17 00:00:00,1,50000.00,25.00,2014,9
702407,Film & Video,Narrative Film,US,0,2011-06-22 03:35:14,2011-07-19 00:00:00,5,1500.00,155.00,2011,6
702408,Film & Video,Narrative Film,US,0,2010-07-01 19:40:30,2010-08-16 00:00:00,1,15000.00,20.00,2010,7
702409,Technology,Technology,US,0,2016-01-13 18:13:53,2016-02-13 00:00:00,6,15000.00,200.00,2016,1
702410,Art,Performance Art,US,0,2011-07-19 09:07:47,2011-08-16 00:00:00,17,2000.00,524.00,2011,7

In [74]:
df = df.drop('deadline', axis=1)
df

,main_category,category,country,state,launched,backers,goal,pledged,year,month
0,Publishing,Poetry,GB,0,2015-08-11 12:12:00,0,1000.00,0.00,2015,8
1,Film & Video,Narrative Film,US,0,2013-01-12 00:20:00,3,45000.00,220.00,2013,1
2,Music,Music,US,0,2012-03-17 03:24:00,1,5000.00,1.00,2012,3
3,Film & Video,Film & Video,US,0,2015-07-04 08:35:00,14,19500.00,1283.00,2015,7
4,Food,Restaurants,US,1,2016-02-26 13:38:00,224,50000.00,52375.00,2016,2
5,Food,Food,US,1,2014-12-01 18:30:00,16,1000.00,1205.00,2014,12
6,Food,Drinks,US,0,2016-02-01 20:05:00,40,25000.00,453.00,2016,2
7,Design,Product Design,US,0,2014-04-24 18:14:00,58,125000.00,8233.00,2014,4
8,Film & Video,Documentary,US,0,2014-07-11 21:55:00,43,65000.00,6240.57,2014,7
9,Publishing,Nonfiction,CA,0,2013-09-09 18:19:00,0,2500.00,0.00,2013,9
10,Music,Indie Rock,US,1,2013-03-09 06:42:00,100,12500.00,12700.00,2013,3
11,Crafts,Crafts,US,0,2014-09-02 17:11:00,0,5000.00,0.00,2014,9
12,Games,Games,US,0,2016-02-09 23:01:00,0,200000.00,0.00,2016,2
13,Design,Design,US,0,2015-01-29 02:10:00,11,2500.00,664.00,2015,1
14,Comics,Comic Books,US,0,2014-10-09 22:27:00,16,1500.00,395.00,2014,10
15,Publishing,Art Books,US,0,2015-04-10 21:20:00,20,3000.00,789.00,2015,4
16,Music,Music,US,1,2012-08-02 14:11:00,7,250.00,250.00,2012,8
17,Food,Food,US,0,2012-05-03 17:24:00,40,5000.00,1781.00,2012,5
18,Fashion,Fashion,US,1,2013-11-25 07:06:00,624,20000.00,34268.00,2013,11
19,Theater,Theater,US,0,2014-05-16 10:10:00,12,3500.00,650.00,2014,5
20,Food,Drinks,NO,0,2015-01-26 19:17:00,3,500.00,48.00,2015,1
21,Comics,Comics,US,1,2014-10-23 17:15:00,66,175.00,701.66,2014,10
22,Music,Music,US,1,2010-12-07 23:16:00,147,10000.00,15827.00,2010,12
23,Crafts,DIY,GB,0,2015-12-06 20:09:00,0,12000.00,0.00,2015,12
24,Film & Video,Webseries,CA,1,2014-11-14 18:02:00,571,17757.00,48905.00,2014,11
25,Comics,Comics,GB,1,2015-12-29 16:59:00,27,100.00,112.38,2015,12
26,Food,Food Trucks,GB,0,2015-03-01 18:06:00,1,3500.00,21.00,2015,3
27,Design,Product Design,US,1,2016-09-07 13:14:00,549,1000.00,47266.00,2016,9
28,Design,Product Design,AU,1,2015-07-23 03:09:00,18,2000.00,2000.00,2015,7
29,Art,Public Art,US,0,2013-02-12 01:07:00,30,25000.00,1395.00,2013,2
...,...,...,...,...,...,...,...,...,...,...
702381,Games,Playing Cards,US,1,2014-09-03 19:53:50,413,10000.00,13861.50,2014,9
702382,Film & Video,Comedy,US,0,2014-05-06 23:50:34,0,12000.00,0.00,2014,5
702383,Fashion,Apparel,US,0,2014-11-13 17:16:17,97,25000.00,11643.00,2014,11
702384,Photography,Photography,US,0,2010-11-08 02:43:59,37,4000.00,3531.00,2010,11
702385,Publishing,Nonfiction,US,0,2015-08-25 22:37:14,5,800.00,70.00,2015,8
702386,Music,Country & Folk,CA,1,2014-11-17 17:50:12,78,4311.83,4686.96,2014,11
702387,Film & Video,Shorts,US,1,2017-08-29 06:57:28,123,10000.00,10245.00,2017,8
702388,Publishing,Nonfiction,US,0,2014-07-15 02:10:39,5,5000.00,18.00,2014,7
702389,Food,Drinks,US,1,2015-11-03 13:04:14,103,5000.00,5579.00,2015,11
702390,Publishing,Fiction,US,0,2014-08-08 21:49:31,2,1000.00,100.00,2014,8
702391,Design,Product Design,CH,0,2015-07-06 18:00:47,0,82207.27,0.00,2015,7
702392,Games,Tabletop Games,FR,1,2017-10-04 11:26:44,35,1165.70,1452.47,2017,10
702393,Technology,3D Printing,US,0,2014-05-05 20:22:45,0,6500.00,0.00,2014,5
702394,Design,Product Design,US,1,2015-11-23 07:33:14,120,3500.00,6169.00,2015,11
702395,Comics,Comics,GB,0,2013-09-10 22:45:26,38,25566.05,4374.99,2013,9
702396,Publishing,Children's Books,US,1,2013-10-18 21:35:04,31,950.00,1732.02,2013,10
702397,Publishing,Nonfiction,US,0,2012-08-15 17:11:00,16,4999.00,980.00,2012,8
702398,Games,Tabletop Games,US,0,2016-01-24 16:03:27,5,500.00,121.00,2016,1
702399,Film & Video,Narrative Film,US,0,2017-02-08 02:28:44,6,500.00,135.00,2017,2
702400,Technology,Apps,US,0,2016-07-29 15:36:29,0,6000.00,0.00,2016,7
702401,Music,Classical Music,CA,1,2014-02-20 01:00:16,78,4529.81,4983.69,2014,2
702402,Film & Video,Documentary,NO,1,2015-03-29 21:30:33,36,2675.19,2875.83,2015,3
702403,Film & Video,Documentary,US,0,2012-02-15 04:31:10,1,1700.00,25.00,2012,2
702404,Food,Small Batch,US,0,2017-03-20 22:08:22,4,6500.00,154.00,2017,3
702405,Publishing,Poetry,CA,0,2014-08-06 03:46:07,0,4949.60,0.00,2014,8
702406,Film & Video,Documentary,US,0,2014-09-17 02:35:30,1,50000.00,25.00,2014,9
702407,Film & Video,Narrative Film,US,0,2011-06-22 03:35:14,5,1500.00,155.00,2011,6
702408,Film & Video,Narrative Film,US,0,2010-07-01 19:40:30,1,15000.00,20.00,2010,7
702409,Technology,Technology,US,0,2016-01-13 18:13:53,6,15000.00,200.00,2016,1
702410,Art,Performance Art,US,0,2011-07-19 09:07:47,17,2000.00,524.00,2011,7

In [75]:
df.loc[df['country'] == 'US', 'country'] = 1
df

,main_category,category,country,state,launched,backers,goal,pledged,year,month
0,Publishing,Poetry,GB,0,2015-08-11 12:12:00,0,1000.00,0.00,2015,8
1,Film & Video,Narrative Film,1,0,2013-01-12 00:20:00,3,45000.00,220.00,2013,1
2,Music,Music,1,0,2012-03-17 03:24:00,1,5000.00,1.00,2012,3
3,Film & Video,Film & Video,1,0,2015-07-04 08:35:00,14,19500.00,1283.00,2015,7
4,Food,Restaurants,1,1,2016-02-26 13:38:00,224,50000.00,52375.00,2016,2
5,Food,Food,1,1,2014-12-01 18:30:00,16,1000.00,1205.00,2014,12
6,Food,Drinks,1,0,2016-02-01 20:05:00,40,25000.00,453.00,2016,2
7,Design,Product Design,1,0,2014-04-24 18:14:00,58,125000.00,8233.00,2014,4
8,Film & Video,Documentary,1,0,2014-07-11 21:55:00,43,65000.00,6240.57,2014,7
9,Publishing,Nonfiction,CA,0,2013-09-09 18:19:00,0,2500.00,0.00,2013,9
10,Music,Indie Rock,1,1,2013-03-09 06:42:00,100,12500.00,12700.00,2013,3
11,Crafts,Crafts,1,0,2014-09-02 17:11:00,0,5000.00,0.00,2014,9
12,Games,Games,1,0,2016-02-09 23:01:00,0,200000.00,0.00,2016,2
13,Design,Design,1,0,2015-01-29 02:10:00,11,2500.00,664.00,2015,1
14,Comics,Comic Books,1,0,2014-10-09 22:27:00,16,1500.00,395.00,2014,10
15,Publishing,Art Books,1,0,2015-04-10 21:20:00,20,3000.00,789.00,2015,4
16,Music,Music,1,1,2012-08-02 14:11:00,7,250.00,250.00,2012,8
17,Food,Food,1,0,2012-05-03 17:24:00,40,5000.00,1781.00,2012,5
18,Fashion,Fashion,1,1,2013-11-25 07:06:00,624,20000.00,34268.00,2013,11
19,Theater,Theater,1,0,2014-05-16 10:10:00,12,3500.00,650.00,2014,5
20,Food,Drinks,NO,0,2015-01-26 19:17:00,3,500.00,48.00,2015,1
21,Comics,Comics,1,1,2014-10-23 17:15:00,66,175.00,701.66,2014,10
22,Music,Music,1,1,2010-12-07 23:16:00,147,10000.00,15827.00,2010,12
23,Crafts,DIY,GB,0,2015-12-06 20:09:00,0,12000.00,0.00,2015,12
24,Film & Video,Webseries,CA,1,2014-11-14 18:02:00,571,17757.00,48905.00,2014,11
25,Comics,Comics,GB,1,2015-12-29 16:59:00,27,100.00,112.38,2015,12
26,Food,Food Trucks,GB,0,2015-03-01 18:06:00,1,3500.00,21.00,2015,3
27,Design,Product Design,1,1,2016-09-07 13:14:00,549,1000.00,47266.00,2016,9
28,Design,Product Design,AU,1,2015-07-23 03:09:00,18,2000.00,2000.00,2015,7
29,Art,Public Art,1,0,2013-02-12 01:07:00,30,25000.00,1395.00,2013,2
...,...,...,...,...,...,...,...,...,...,...
702381,Games,Playing Cards,1,1,2014-09-03 19:53:50,413,10000.00,13861.50,2014,9
702382,Film & Video,Comedy,1,0,2014-05-06 23:50:34,0,12000.00,0.00,2014,5
702383,Fashion,Apparel,1,0,2014-11-13 17:16:17,97,25000.00,11643.00,2014,11
702384,Photography,Photography,1,0,2010-11-08 02:43:59,37,4000.00,3531.00,2010,11
702385,Publishing,Nonfiction,1,0,2015-08-25 22:37:14,5,800.00,70.00,2015,8
702386,Music,Country & Folk,CA,1,2014-11-17 17:50:12,78,4311.83,4686.96,2014,11
702387,Film & Video,Shorts,1,1,2017-08-29 06:57:28,123,10000.00,10245.00,2017,8
702388,Publishing,Nonfiction,1,0,2014-07-15 02:10:39,5,5000.00,18.00,2014,7
702389,Food,Drinks,1,1,2015-11-03 13:04:14,103,5000.00,5579.00,2015,11
702390,Publishing,Fiction,1,0,2014-08-08 21:49:31,2,1000.00,100.00,2014,8
702391,Design,Product Design,CH,0,2015-07-06 18:00:47,0,82207.27,0.00,2015,7
702392,Games,Tabletop Games,FR,1,2017-10-04 11:26:44,35,1165.70,1452.47,2017,10
702393,Technology,3D Printing,1,0,2014-05-05 20:22:45,0,6500.00,0.00,2014,5
702394,Design,Product Design,1,1,2015-11-23 07:33:14,120,3500.00,6169.00,2015,11
702395,Comics,Comics,GB,0,2013-09-10 22:45:26,38,25566.05,4374.99,2013,9
702396,Publishing,Children's Books,1,1,2013-10-18 21:35:04,31,950.00,1732.02,2013,10
702397,Publishing,Nonfiction,1,0,2012-08-15 17:11:00,16,4999.00,980.00,2012,8
702398,Games,Tabletop Games,1,0,2016-01-24 16:03:27,5,500.00,121.00,2016,1
702399,Film & Video,Narrative Film,1,0,2017-02-08 02:28:44,6,500.00,135.00,2017,2
702400,Technology,Apps,1,0,2016-07-29 15:36:29,0,6000.00,0.00,2016,7
702401,Music,Classical Music,CA,1,2014-02-20 01:00:16,78,4529.81,4983.69,2014,2
702402,Film & Video,Documentary,NO,1,2015-03-29 21:30:33,36,2675.19,2875.83,2015,3
702403,Film & Video,Documentary,1,0,2012-02-15 04:31:10,1,1700.00,25.00,2012,2
702404,Food,Small Batch,1,0,2017-03-20 22:08:22,4,6500.00,154.00,2017,3
702405,Publishing,Poetry,CA,0,2014-08-06 03:46:07,0,4949.60,0.00,2014,8
702406,Film & Video,Documentary,1,0,2014-09-17 02:35:30,1,50000.00,25.00,2014,9
702407,Film & Video,Narrative Film,1,0,2011-06-22 03:35:14,5,1500.00,155.00,2011,6
702408,Film & Video,Narrative Film,1,0,2010-07-01 19:40:30,1,15000.00,20.00,2010,7
702409,Technology,Technology,1,0,2016-01-13 18:13:53,6,15000.00,200.00,2016,1
702410,Art,Performance Art,1,0,2011-07-19 09:07:47,17,2000.00,524.00,2011,7

In [76]:
df.loc[df['country'] != 1, 'country'] = 0
df

,main_category,category,country,state,launched,backers,goal,pledged,year,month
0,Publishing,Poetry,0,0,2015-08-11 12:12:00,0,1000.00,0.00,2015,8
1,Film & Video,Narrative Film,1,0,2013-01-12 00:20:00,3,45000.00,220.00,2013,1
2,Music,Music,1,0,2012-03-17 03:24:00,1,5000.00,1.00,2012,3
3,Film & Video,Film & Video,1,0,2015-07-04 08:35:00,14,19500.00,1283.00,2015,7
4,Food,Restaurants,1,1,2016-02-26 13:38:00,224,50000.00,52375.00,2016,2
5,Food,Food,1,1,2014-12-01 18:30:00,16,1000.00,1205.00,2014,12
6,Food,Drinks,1,0,2016-02-01 20:05:00,40,25000.00,453.00,2016,2
7,Design,Product Design,1,0,2014-04-24 18:14:00,58,125000.00,8233.00,2014,4
8,Film & Video,Documentary,1,0,2014-07-11 21:55:00,43,65000.00,6240.57,2014,7
9,Publishing,Nonfiction,0,0,2013-09-09 18:19:00,0,2500.00,0.00,2013,9
10,Music,Indie Rock,1,1,2013-03-09 06:42:00,100,12500.00,12700.00,2013,3
11,Crafts,Crafts,1,0,2014-09-02 17:11:00,0,5000.00,0.00,2014,9
12,Games,Games,1,0,2016-02-09 23:01:00,0,200000.00,0.00,2016,2
13,Design,Design,1,0,2015-01-29 02:10:00,11,2500.00,664.00,2015,1
14,Comics,Comic Books,1,0,2014-10-09 22:27:00,16,1500.00,395.00,2014,10
15,Publishing,Art Books,1,0,2015-04-10 21:20:00,20,3000.00,789.00,2015,4
16,Music,Music,1,1,2012-08-02 14:11:00,7,250.00,250.00,2012,8
17,Food,Food,1,0,2012-05-03 17:24:00,40,5000.00,1781.00,2012,5
18,Fashion,Fashion,1,1,2013-11-25 07:06:00,624,20000.00,34268.00,2013,11
19,Theater,Theater,1,0,2014-05-16 10:10:00,12,3500.00,650.00,2014,5
20,Food,Drinks,0,0,2015-01-26 19:17:00,3,500.00,48.00,2015,1
21,Comics,Comics,1,1,2014-10-23 17:15:00,66,175.00,701.66,2014,10
22,Music,Music,1,1,2010-12-07 23:16:00,147,10000.00,15827.00,2010,12
23,Crafts,DIY,0,0,2015-12-06 20:09:00,0,12000.00,0.00,2015,12
24,Film & Video,Webseries,0,1,2014-11-14 18:02:00,571,17757.00,48905.00,2014,11
25,Comics,Comics,0,1,2015-12-29 16:59:00,27,100.00,112.38,2015,12
26,Food,Food Trucks,0,0,2015-03-01 18:06:00,1,3500.00,21.00,2015,3
27,Design,Product Design,1,1,2016-09-07 13:14:00,549,1000.00,47266.00,2016,9
28,Design,Product Design,0,1,2015-07-23 03:09:00,18,2000.00,2000.00,2015,7
29,Art,Public Art,1,0,2013-02-12 01:07:00,30,25000.00,1395.00,2013,2
...,...,...,...,...,...,...,...,...,...,...
702381,Games,Playing Cards,1,1,2014-09-03 19:53:50,413,10000.00,13861.50,2014,9
702382,Film & Video,Comedy,1,0,2014-05-06 23:50:34,0,12000.00,0.00,2014,5
702383,Fashion,Apparel,1,0,2014-11-13 17:16:17,97,25000.00,11643.00,2014,11
702384,Photography,Photography,1,0,2010-11-08 02:43:59,37,4000.00,3531.00,2010,11
702385,Publishing,Nonfiction,1,0,2015-08-25 22:37:14,5,800.00,70.00,2015,8
702386,Music,Country & Folk,0,1,2014-11-17 17:50:12,78,4311.83,4686.96,2014,11
702387,Film & Video,Shorts,1,1,2017-08-29 06:57:28,123,10000.00,10245.00,2017,8
702388,Publishing,Nonfiction,1,0,2014-07-15 02:10:39,5,5000.00,18.00,2014,7
702389,Food,Drinks,1,1,2015-11-03 13:04:14,103,5000.00,5579.00,2015,11
702390,Publishing,Fiction,1,0,2014-08-08 21:49:31,2,1000.00,100.00,2014,8
702391,Design,Product Design,0,0,2015-07-06 18:00:47,0,82207.27,0.00,2015,7
702392,Games,Tabletop Games,0,1,2017-10-04 11:26:44,35,1165.70,1452.47,2017,10
702393,Technology,3D Printing,1,0,2014-05-05 20:22:45,0,6500.00,0.00,2014,5
702394,Design,Product Design,1,1,2015-11-23 07:33:14,120,3500.00,6169.00,2015,11
702395,Comics,Comics,0,0,2013-09-10 22:45:26,38,25566.05,4374.99,2013,9
702396,Publishing,Children's Books,1,1,2013-10-18 21:35:04,31,950.00,1732.02,2013,10
702397,Publishing,Nonfiction,1,0,2012-08-15 17:11:00,16,4999.00,980.00,2012,8
702398,Games,Tabletop Games,1,0,2016-01-24 16:03:27,5,500.00,121.00,2016,1
702399,Film & Video,Narrative Film,1,0,2017-02-08 02:28:44,6,500.00,135.00,2017,2
702400,Technology,Apps,1,0,2016-07-29 15:36:29,0,6000.00,0.00,2016,7
702401,Music,Classical Music,0,1,2014-02-20 01:00:16,78,4529.81,4983.69,2014,2
702402,Film & Video,Documentary,0,1,2015-03-29 21:30:33,36,2675.19,2875.83,2015,3
702403,Film & Video,Documentary,1,0,2012-02-15 04:31:10,1,1700.00,25.00,2012,2
702404,Food,Small Batch,1,0,2017-03-20 22:08:22,4,6500.00,154.00,2017,3
702405,Publishing,Poetry,0,0,2014-08-06 03:46:07,0,4949.60,0.00,2014,8
702406,Film & Video,Documentary,1,0,2014-09-17 02:35:30,1,50000.00,25.00,2014,9
702407,Film & Video,Narrative Film,1,0,2011-06-22 03:35:14,5,1500.00,155.00,2011,6
702408,Film & Video,Narrative Film,1,0,2010-07-01 19:40:30,1,15000.00,20.00,2010,7
702409,Technology,Technology,1,0,2016-01-13 18:13:53,6,15000.00,200.00,2016,1
702410,Art,Performance Art,1,0,2011-07-19 09:07:47,17,2000.00,524.00,2011,7

In [77]:
maincat_df = df.copy()

In [78]:
maincat_df = maincat_df.drop('category', axis=1)

In [79]:
maincat_df = maincat_df.drop('launched', axis=1)

In [80]:
maincat_df = pd.get_dummies(data=maincat_df, columns=['main_category'])
maincat_df.head()

,country,state,backers,goal,pledged,year,month,main_category_Art,main_category_Comics,main_category_Crafts,...,main_category_Film & Video,main_category_Food,main_category_Games,main_category_Graphic Novels,main_category_Journalism,main_category_Music,main_category_Photography,main_category_Publishing,main_category_Technology,main_category_Theater
0,0,0,0,1000.0,0.0,2015,8,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,3,45000.0,220.0,2013,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,1,5000.0,1.0,2012,3,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1,0,14,19500.0,1283.0,2015,7,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1,1,224,50000.0,52375.0,2016,2,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [81]:
y = maincat_df['state']

In [34]:
X = maincat_df.drop('state', axis=1)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=15)

In [38]:
tree = tree.DecisionTreeClassifier()

In [39]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [40]:
tree.score(X_train, y_train)

0.9989342813619233

In [41]:
y_predict = tree.predict(X_test)

tree.score(X_test, y_test)

0.9874148174863803

In [42]:
pd.DataFrame(
    confusion_matrix(y_test, y_predict),
    columns=['Predicted Failed', 'Predicted Successful'],
    index=['Actual Failed', 'Actual Successful']
)

                   Predicted Failed  Predicted Successful
Actual Failed                133154                  1252
Actual Successful              1400                 74918

In [43]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99    134406
           1       0.98      0.98      0.98     76318

   micro avg       0.99      0.99      0.99    210724
   macro avg       0.99      0.99      0.99    210724
weighted avg       0.99      0.99      0.99    210724

In [82]:
maincat_df2 = maincat_df.copy()
maincat_df2 = maincat_df2.drop('backers', axis=1)
maincat_df2 = maincat_df2.drop('pledged', axis=1)

y2 = maincat_df2['state']
X2 = maincat_df2.drop('state', axis=1)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=15)
tree2 = tree.DecisionTreeClassifier()
tree2.fit(X2_train, y2_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [83]:
tree2.score(X2_train, y2_train)

0.8127589299696758

In [84]:
y2_predict = tree2.predict(X2_test)

tree2.score(X2_test, y2_test)

0.6963184070158122

In [85]:
pd.DataFrame(
    confusion_matrix(y2_test, y2_predict),
    columns=['Predicted Failed', 'Predicted Successful'],
    index=['Actual Failed', 'Actual Successful']
)

                   Predicted Failed  Predicted Successful
Actual Failed                110373                 24033
Actual Successful             39960                 36358

In [86]:
print(classification_report(y2_test, y2_predict))

              precision    recall  f1-score   support

           0       0.73      0.82      0.78    134406
           1       0.60      0.48      0.53     76318

   micro avg       0.70      0.70      0.70    210724
   macro avg       0.67      0.65      0.65    210724
weighted avg       0.69      0.70      0.69    210724